.wrap-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 999;
  display: none;

  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal {
    max-width: 450px;
    min-height: 320px;
    width: calc(100% - 30px);
    padding: 16px 18px 18px;
    background-color: #FCFCFC;
    border: 1px solid #F4F4F4;
    box-sizing: border-box;
    box-shadow: 0 8px 16px rgba(56, 69, 93, 0.1);
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &-close {
      position: absolute;
      top: 20px;
      right: 20px;
    }


  }
}
